Quais países tinham a Economia mais parecida com o Brasil, com base em alguns indicadores econômicos, no ano de 2019 antes da pandemia Covid-19?

In [18]:
from pandas_datareader import wb
import numpy as np
import pandas as pd

In [3]:
codigos = ["NE.EXP.GNFS.CD", "NE.IMP.GNFS.CD", "NV.AGR.TOTL.CD", "NY.GDP.MKTP.CD", "NE.RSB.GNFS.CD"]

In [4]:
dados = wb.download(country = 'all', indicator = codigos, start = 2019, end = 2019).reset_index()

/tmp/ipykernel_38980/2983319346.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  dados = wb.download(country = 'all', indicator = codigos, start = 2019, end = 2019).reset_index()

In [5]:
dados.shape

(266, 7)

In [6]:
dados.head()

,country,year,NE.EXP.GNFS.CD,NE.IMP.GNFS.CD,NV.AGR.TOTL.CD,NY.GDP.MKTP.CD,NE.RSB.GNFS.CD
0,Afghanistan,2019,NaN,NaN,4.845363e+09,1.879944e+10,NaN
1,Africa Eastern and Southern,2019,2.455958e+11,2.799227e+11,1.319619e+11,1.018715e+12,NaN
2,Africa Western and Central,2019,NaN,NaN,2.409897e+11,1.026996e+12,NaN
3,Albania,2019,4.821429e+09,6.926960e+09,2.830318e+09,1.558511e+10,-2.105530e+09
4,Algeria,2019,3.948114e+10,5.049085e+10,2.220758e+10,1.934597e+11,-1.100971e+10

In [7]:
# Obtém a lista de paises
paises = wb.get_countries()

In [8]:
paises2 = paises[paises['region'] != 'Aggregates'].name

In [9]:
dados2 = dados[dados['country'].isin(paises2)].dropna()

In [10]:
dados2.head()

,country,year,NE.EXP.GNFS.CD,NE.IMP.GNFS.CD,NV.AGR.TOTL.CD,NY.GDP.MKTP.CD,NE.RSB.GNFS.CD
3,Albania,2019,4.821429e+09,6.926960e+09,2.830318e+09,1.558511e+10,-2.105530e+09
4,Algeria,2019,3.948114e+10,5.049085e+10,2.220758e+10,1.934597e+11,-1.100971e+10
7,Angola,2019,3.000118e+10,1.901659e+10,1.000393e+10,8.073443e+10,1.098460e+10
8,Antigua and Barbuda,2019,1.194093e+09,1.180426e+09,2.842963e+07,1.726448e+09,1.366667e+07
10,Argentina,2019,8.025948e+10,6.584562e+10,2.381408e+10,4.477547e+11,1.441386e+10

In [11]:
vetores = {}

for rowid, row in dados2.iterrows():
    vetores[row['country']] = row[codigos].values

In [12]:
vetores['Albania']

array([4821429218.47484, 6926959712.72243, 2830318199.77187,
       15585111614.0376, -2105530494.24759], dtype=object)

In [13]:
# Dicionários para calcular a distância euclidiana e cosine
euclid = {}
cosine = {}

In [14]:
target = 'Brazil'

In [15]:
for country in vetores:
    # target
    vecA = vetores[target]

    # País
    vecB = vetores[country]

    # calcula a distância euclidiana com a operação entre os vetores de dados
    dist = np.linalg.norm(vecA - vecB)

    # calcula a distância cosine (cosseno) com a operação entre os vetores dados
    cos = np.dot(vecA, vecB) / (np.linalg.norm(vecA) * np.linalg.norm(vecB))

    euclid[country] = dist
    cosine[country] = 1 - cos

In [23]:
# coloca os dicionários em um dataframe
df_distance = pd.DataFrame({'euclid': euclid,'cos': cosine})

In [20]:
df_distance.head()

                           euclid       cos
Albania              1.896611e+12  0.056286
Algeria              1.710797e+12  0.010634
Angola               1.827538e+12  0.035496
Antigua and Barbuda  1.911630e+12  0.158466
Argentina            1.454052e+12  0.001435

In [21]:
# imprime os resultados
print('País mais próximo do nosso Target de acordo com a Distância Euclidiana:')
print(df_distance.sort_values(by = 'euclid').head())

País mais próximo do nosso Target de acordo com a Distância Euclidiana:
                          euclid       cos
Brazil              0.000000e+00  0.000000
Russian Federation  3.248566e+11  0.013462
Canada              4.551362e+11  0.028087
Australia           4.855916e+11  0.007112
Italy               4.894075e+11  0.019586

In [24]:
print('País mais próximo do nosso Target de acordo com a Distância Cosine (Cosseno):')
print(df_distance.sort_values(by = 'cos').head())

País mais próximo do nosso Target de acordo com a Distância Cosine (Cosseno):
                     euclid       cos
Brazil         0.000000e+00  0.000000
United States  1.985246e+13  0.000986
Cuba           1.808944e+12  0.001246
Japan          3.365125e+12  0.001396
China          1.312938e+13  0.001425